
h2{
    color: #2d3248;
    margin-bottom: 6px;
}
p{
    color: #6a6f81;
    font-size: 0.8em;
}
.ml{
    margin-left: 10px;
    font-size: 1em;
}
.card{
    width: 350px;
    background-color: #fff;
    z-index: 9;
    position: relative;
    border-radius: 20px;
}
.img{
    border-radius: 20px 20px 0 0;
}

.img-profile{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 92px;
    border-radius: 50%;
    border: 6px solid #fff;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    background-color: #fff;
    border-radius: 20px;
}

.card-body-info{
    text-align: center;
    margin-bottom: 20px;
}
.info-user{
    display: flex;
}

hr{
    width: 99%;
}

.card-body-flp{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}

.stats-socialnet{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}