body{
    overflow: hidden;
}
.app{
    width: 100vh;
    height: 100vh;
}
.svg-top{
    position: absolute;
    left: -200px;
    top: -400px;
    
}
.svg-bottom{
    position: absolute;
    right: -100px;
    top: 400px;
}