.app{
    width: 100vh;
    height: 100vh;
}



/*
.svg-top{
    position: absolute;
    top: -478px;
    left: -478px;
}
.svg-bottom{
    position: absolute;
    right: -478px;
    bottom: -478px; 
}
*/